body,
html {
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    height: 5vh;
    background-color: rgb(40, 40, 40);
    align-items: center;
    justify-content: center;
}

main {
    height: 92.5vh;
}

footer {
    height: 2.5vh;
    background-color: rgb(40, 40, 40);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: rgb(240, 240, 240);
    font-size: 3vh;
}

h3 {
    color: rgb(240, 240, 240);
    font-size: 1.5vh;
}